@model WebAppYte.Models.Tintuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Chi tiết</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai)
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTintuc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
