@model IEnumerable<WebAppYte.Models.QuanTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        margin-right: 20px;
    }
</style>
<center><h2>DANH SÁCH BÁC SỸ HỖ TRỢ</h2></center>
<hr />
@*<center><img src="~/Common/images/bs.jpg" width="800px" height="250px" /></center>*@

<div class="row">
    <br />
    @foreach (var item in Model)
    {
        <div class="col-md-6">

            <img class="imgavt" src="https://lh3.googleusercontent.com/Rj0xNHii1Olg2gDfe6uND3RBB3YWea44Lz3umPB0JkElMOyTrVHNXYLzRgtGlkfAA44" width="160" height="160" style="float:left" />
            <br />
            <b>Họ và tên: @item.HoTen</b>
            <h4>Trình độ: @item.TrinhDo</h4>
            <h4>Thông tin khác : @item.ThongTinBacSi</h4>
            <hr />
        </div>
    }
    <center>
        <h3> <a href="@Url.Action("Index", "LichKham")">ĐẶT LỊCH TƯ VẤN VIDEO</a></h3>
        <br />
        <h3><a href="@Url.Action("Index", "Hoidap", new { id = @ViewBag.id })">GỬI CÂU HỎI CHO BÁC SĨ</a></h3>
    </center>
</div>
