@model IEnumerable<WebAppYte.Models.HoiDap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuanTri.TaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauHoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraLoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuanTri.TaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauHoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraLoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.ActionLink("Create New", "Create", new { id = item.IDNguoiDung })
            @Html.ActionLink("Edit", "Edit", new { id = item.IDHoidap }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDHoidap }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDHoidap })
        </td>
    </tr>
}

</table>
