@model WebAppYte.Models.TrungTamGanNhat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TrungTamGanNhat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TinhThanh.TenTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhThanh.TenTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTrungTam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTrungTam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTrungTam }) |
    @Html.ActionLink("Back to List", "Index")
</p>
