@model PagedList.IPagedList<WebAppYte.Models.HoiDap>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var u = Session["user"] as WebAppYte.Models.NguoiDung;
    var userBS = Session["userBS"] as WebAppYte.Models.QuanTri;
}

<h3 style="color:orangered"> <b>Câu hỏi của bạn</b> </h3>
@if (u != null)
{
    <button class="btn-default">@Html.ActionLink("Gửi câu hỏi mới", "Create", new { id = @ViewBag.id })</button>
}
else if (u == null)
{
    <button class="btn-default">@Html.ActionLink("Gửi câu hỏi mới", "CreateGuest", new { id = @ViewBag.id })</button>
}
<hr />
@{
    var latestQuestion = Model
        .Where(x => x.IDNguoiDung == ViewBag.id)
        .OrderByDescending(x => x.NgayGui)
        .FirstOrDefault();
}

<div class="col-md-8">
    @foreach (var item in Model)
    {
        <i>
            @if (u != null && latestQuestion != null && item.IDHoidap == latestQuestion.IDHoidap)
            {
                <span style="
                         color: #FF0000;
                         border-radius: 20px;
                         margin: 10px 0;
                         display: flex;
                         width: fit-content
                         ">Câu trả lời mới nhất!</span>
            }
            else if (u == null && item.TraLoi != null && item.TrangThai == 1)
            {
                <span style="
                         color: #FF0000;
                         border-radius: 20px;
                         margin: 10px 0;
                         display: flex;
                         width: fit-content
                         ">Câu trả lời mới nhất!</span>
            }
            Người gửi : <b>@item.NguoiDung.HoTen</b> &nbsp; <i class="fas fa-clock"></i>&nbsp;@item.NgayGui.Value.ToString("dd/MM/yyyy HH:mm:ss")
        </i>
        <h4 class="text-info">Câu hỏi:</h4>
        <h5 class="text-primary">@Html.DisplayFor(modelItem => item.CauHoi)</h5>
        <h4 class="text-warning">Trả lời : </h4>
        <h5 class="text-success" style="color: forestgreen"> @Html.DisplayFor(modelItem => item.TraLoi)</h5>
        <hr />
    }
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<div class="col-md-4">
    <h3 style="color:red"> Bản đồ phân bố dịch</h3>
    <img src="~/images/images/bando.png" class="img-responsive" />
</div>
