@model IEnumerable<WebAppYte.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hồ sơ cá nhân</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh.GioiTinh1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhThanh.TenTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiCuThe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoCMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhomMau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinKhac)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh.GioiTinh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhThanh.TenTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiCuThe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoCMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhomMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinKhac)
            </td>
            <td>
                <button class="btn-default">
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDNguoiDung })
                </button>

                <button class="btn-default">

                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.IDNguoiDung })

                </button>
            </td>
        </tr>
    }

</table>
